ASPNETCORE_URLS=http://localhost:5000
DB_HOST=localhost
DB_PORT=3306
DB_NAME=film-api-db
DB_USER=root
DB_PASSWORD=root
DB_USE_AUTODETECT=true
DB_SERVER_VERSION=10.11.0-mariadb
DEFAULT_COVER_IMAGE_PATH=/media/defaults/cover-default.jpg

# JWT Configuration
JWT_KEY=your-super-secret-key-min-32-chars-long!!
JWT_ISSUER=FilmAPI
JWT_AUDIENCE=CineBase.Web
JWT_ACCESS_TOKEN_EXPIRATION_MINUTES=15
JWT_REFRESH_TOKEN_EXPIRATION_DAYS=7
